@font-face {
    font-family: "Daredevil";
    src: url("Daredevil.ttf");
   }
html{
    background-image: url(NoFound.jpeg);
    background-repeat: no-repeat;
    background-position:  center center;
    margin-top: 20%;
    background-color:#ad3f40;
}

.text{
    font-family: "Daredevil";
    margin-left: 60%;
    color:#ad3f40;
}
a:link, a:visited {
    background-color: black;
    color: #ad3f40;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 42px;
}

a:hover{
    color: blueviolet;
}
